.rocket {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__right {
        width: 50%;
        margin-left: 90px;
        &-h2 {
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            color: #FFFFFF;
            margin-bottom: 40px;
        }

        &-p {
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
}